.about-content {
    display: flex; 
    justify-content: space-between;

    .img-container {
        width: 40%; 
        margin-right: 40px; 

        img {
            width: 400px;
            height: 500px; 
            object-fit: cover; 
            object-position: 50% top; 
        }
    }

    .text-container {
        width: calc(60% - 40px); 
    }

    p {
        margin: 0;
        margin-bottom: 20px;  
        line-height: 1.5rem; 
        font-weight: 200;
        font-size: 1rem; 
    }
}