html {
    scroll-behavior: smooth;
}

body {
    background-color: $background; 
    color: $body; 
}

.wrapper {
    width: 70%; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

section > .wrapper {
    border: 1px solid rgba($color: $body, $alpha: 0.5); 
    padding: 60px 75px; 
    margin-bottom: 20vh
}

a {
    font-weight: 400; 
    text-decoration: none;
    color: $body;
    padding-bottom: 2px; 
    border-bottom: 2px solid transparent; 
    transition: 0.3s; 

    &:hover,
    &:focus {
        border-bottom: 2px solid $accent;
        box-shadow: rgba($color: $accent, $alpha: 0.8) 0 0.5em 0.6em -0.5em;
        text-shadow: 1px -2.5px 6.5px $accent;
    }
}

img {
    max-width: 100%; 
}