html {
    scroll-behavior: smooth;
}

body {
    background-color: $background; 
    color: $body; 
}

.wrapper {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
}

a {
    font-weight: 400; 
    text-decoration: none;
    color: $body;
    padding-bottom: 2px; 
    border-bottom: 2px solid transparent; 
    transition: 0.3s; 

    &:hover,
    &:focus {
        border-bottom: 2px solid $accent;
    }
}