.contact {
    .wrapper {
        margin-bottom: 80px; 
    }

    h2 {
        margin-bottom: 15px; 
    }

    ul {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1rem; 
        margin-top: 25px; 

        li {
            display: flex; 
            flex-direction: column; 
            justify-content: center;
            align-items: center; 
            margin-left: 15px;
            margin-right: 15px; 
        }

        a {
            display: flex; 
            flex-direction: column; 
            justify-content: center;
            align-items: center; 
            margin-bottom: 15px; 
            cursor: pointer; 
            transition: 0.3s; 

            i {
                font-size: 1.5rem; 
                margin-bottom: 10px; 
            }
        }
    }

    .form-container {
        display: flex; 
        justify-content: center;
        margin-top: 40px; 

        form {
            display: flex;
            flex-wrap: wrap; 
            width: 50%; 
            justify-content: center;
    
            #name {
                margin-right: 10px; 
            }
    
            #name,
            #email {
                width: calc(50% - 5px); 
                height: 75px; 
                border: none; 
                border: 1px solid rgba($color: $body, $alpha: 0.5); 
                font-family: $bodyFont; 
                font-weight: thin; 
                font-size: 1rem; 
                padding: 30px 40px 20px 40px; 
                background-color: $background;
                color: $body; 
    
                &::placeholder {
                    color: $body;
                    opacity: 1;
                }
    
                &:focus {
                    outline: none;
                    border-bottom: 3px solid $accent; 
                    padding-bottom: 19px; 
                }
            }
    
            textarea {
                width: 100%; 
                height: 290px;
                margin: 18px 0px; 
                border: none; 
                border: 1px solid rgba($color: $body, $alpha: 0.5); 
                font-family: $bodyFont; 
                font-weight: thin; 
                font-size: 1rem; 
                padding: 45px 40px; 
                resize: none; 
                background-color: $background; 
                color: $body; 
    
                &::placeholder {
                    color: $body;
                    opacity: 1;
                } 
    
                &:focus {
                    outline: none;
                    border-bottom: 3px solid $accent; 
                }
            }
    
            button {
                font-family: $bodyFont; 
                width: 100%; 
                font-size: 1rem; 
                background-color: $background; 
                color: $body; 
                border: 1px solid rgba($color: $body, $alpha: 0.5); 
                padding-top: 25px;
                padding-bottom: 20px; 
                transition: 0.3s; 

                &:hover,
                &:focus {
                    border: 1px solid $accent; 
                    box-shadow: rgba($color: $accent, $alpha: 0.8) 0 0.4em 0.6em -0.6em;
                    text-shadow: 1px -2.5px 6.5px $accent;
                    cursor: pointer; 
                }
            }
            
            .honeypot {
                display: none; 
            }
        }
    }
}

// Form success page
.form-success {
    h2 {
        margin-bottom: 20px; 
    }

    p {
        margin-top: 10px; 
    }

    .wrapper {
        margin-top: 50px; 
    }
}