header {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .box-container {
        border: 1px solid rgba($color: $body, $alpha: 0.5); 
        padding: 60px 75px; 

        h2 {
            margin-left: 2px;
            font-size: 1.5rem; 
        }
    }

    .arrow-container {
        display: flex; 
        justify-content: center;
        width: 100%; 
        margin-top: 60px; 
        
        a {
            border-bottom: none; 
            font-size: 3rem; 
            font-weight: 300;
            font-family: $headingFont; 
    
            &:hover,
            &:focus {
                border-bottom: none; 
                box-shadow: none;
            }
        }
    }
}