header {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;

    .wrapper {
        transform: translateY(-5vh); 
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
    }

    h2 {
        margin-left: 2px;
    }

    .arrow-container {
        display: flex; 
        justify-content: center;
        width: 100%; 
        margin-top: 60px; 
        
        a {
            border-bottom: none; 
            font-size: 3rem; 
            font-weight: 500;
    
            &:hover,
            &:focus {
                border-bottom: none; 
                box-shadow: none;
                color: $accent; 
            }
        }
    }
}