@media (max-width: 1275px) {
    .contact {
        .wrapper {
            .form-container {
                form {
                    width: 80%; 
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: 80%; 
    }
}

@media (max-width: 975px) {
    .wrapper {
        width: 90%; 
    }

    section > .wrapper {
        padding: 50px 60px; 
    }
}

@media (max-width: 815px) {
    .wrapper {
        width: 92%; 
    }

    section > .wrapper {
        padding: 50px 50px; 
    }

    .tools {
        .filter-input {
            label {
                width: 20%; 
            }
        }
    }

    .project-container {
        flex-direction: column;
        margin-top: 45px;   

        .project-img {
            width: 100%;
            margin-right: 0; 
        }

        .project-text {
            width: 100%; 
        }

        &:nth-of-type(2n) {
            flex-direction: column;
            
            .project-img {
                margin-left: 0; 
            }
        }
    }
}

// Show mobile nav
@media (max-width: 800px) {
    .main-nav {
        display: none; 
    }

    .mobile-nav-toggle {
        display: block; 
    }

    .mobile-nav {
        display: flex; 
    }

    header {
        .wrapper {
            margin-top: 60px; 
            margin-bottom: 10vh; 

            .arrow-container {
                display: none; 
            }
        }
    }

    section > .wrapper {
        margin-bottom: 5vh; 
    }
}

@media (max-width: 675px) {
    .mobile-nav {
        ul {
            li {
                a {
                    font-size: 1.8rem; 
                }
            }
        }
    }

    header {
        .box-container {
            h1 {
                font-size: 5rem; 
            }
        
            h2 {
                font-size: 2rem; 
            }
        }
    }

    .about-content {
        flex-direction: column; 

        .img-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px; 

            img {
                width: 80%;
                height: 375px; 
            }
        }

        .text-container {
            margin-top: 50px; 
            width: 100%; 
        }
    }

    .tools {
        .filter-input {
            label {
                width: 25%; 
                margin-bottom: 20px; 
            }
        }
    }
}

@media (max-width: 580px) {
    body {
        font-size: 1rem; 
    }

    .mobile-nav {
        ul {
            li {
                a {
                    font-size: 1.5rem; 
                }
            }
        }
    }

    header {
        .box-container {
            h1 {
                font-size: 4.5rem; 
            }
        }
    }


    .tools {
        .filter-input {
            label {
                width: 33%; 
                margin-bottom: 30px; 
            }
        }
    }

    .contact {
        .wrapper {
            .form-container {
                form {
                    width: 95%; 
                    
                    #name,
                    #email {
                        padding: 20px 30px 15px 30px;
                        height: 60px; 
    
                        &:focus {
                            padding-bottom: 14px; 
                        }
                    }
    
                    textarea {
                        padding: 40px 30px; 
                    }
                }
            }
        }
    }
}

@media (max-width: 530px) {
    header {
        .box-container {
            padding: 50px 65px;

            h1 {
                font-size: 3.5rem; 
            }
        
            h2 {
                font-size: 1.3rem; 
            }
        }
    }

    h2 {
        font-size: 2rem; 
    }

    section.about {
        padding-top: 0; 
    }

    .contact {
        .wrapper {
            .form-container {
                form {
                    width: 95%; 
                    
                    #name,
                    #email {
                        padding: 15px 25px 10px 25px;
                        width: 100%; 
    
                        &:focus {
                            padding-bottom: 9px; 
                        }
                    }

                    #name {
                        margin-right: 0; 
                        margin-bottom: 18px; 
                    }
    
                    textarea {
                        padding: 30px 25px; 
                    }
                }
            }
        }
    }
}

@media (max-width: 445px) {
    section > .wrapper {
        padding-left: 30px; 
        padding-right: 30px; 
    }

    header {
        justify-content: flex-start; 
        
        .wrapper {
            margin-top: 230px; 
            margin-bottom: 0; 
        }

        .box-container {
            padding: 40px 45px;
        }
    }   

    .mobile-nav {
        ul {
            li {
                a {
                    font-size: 1.3rem; 
                }
            }
        }

        &.open {
            padding-left: 0; 
        }
    }

    .about-content {
        .img-container {
            img {
                width: 100%; 
            }
        }
    }

    .tools {
        .filter-input {
            label {
                font-size: 0.95rem; 

                i {
                    font-size: 2rem; 
                }
            }
        }
    }

    .contact {
        .wrapper {
            .contact-link {
                    display: none; 
                }
                
            .form-container {
                form {
                    width: 95%; 
                    
                    #name,
                    #email {
                        padding: 10px 20px 5px 20px;
    
                        &:focus {
                            padding-bottom: 4px; 
                        }
                    }
    
                    textarea {
                        padding: 30px 20px; 
                    }
                }
            }
        }
    }

    footer {
        p {
            font-size: 0.85rem; 
        }
    }
}

@media (max-width: 390px) {
    header {
        .box-container {
            padding: 40px 40px;

            h1 {
                font-size: 3rem; 
            }
        
            h2 {
                font-size: 1.2rem; 
            }
        }
    }

    section > .wrapper {
        padding-left: 23px; 
        padding-right: 23px; 
    }

    .tools {
        .filter-input {
            label {
                font-size: 0.94rem; 
                width: 50%; 

                i {
                    font-size: 2rem; 
                }
            }
        }
    }

    .contact {
        ul {
            font-size: 0.9rem; 

            li {
                margin-left: 10px;
                margin-right: 10px; 

                a i {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: 345px) {
    header {
        .box-container {
            padding: 35px 25px;
        }
    }

    .about-content {
        p {
            font-size: 0.9rem; 
        }
    }

    .contact {
        .wrapper {
            .form-container {
                form {
                    width: 100%; 

                    #name,
                    #email {
                        padding: 5px 15px 2px 15px;

                        &::placeholder {
                            font-size: 0.9rem;
                        }
    
                        &:focus {
                            padding-bottom: 1px; 
                        }
                    }
    
                    textarea {
                        padding: 30px 15px; 

                        &::placeholder {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        ul {
            li {
                margin-left: 10px; 
                margin-right: 10px; 
            }
        }
    }

    .form-success {
        h2 {
            font-size: 1.5rem;
        }
    }
}