.main-nav {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    position: sticky; 
    top: 0; 
    z-index: 10; 
    background-color: $background;
    font-family: $headingFont; 
    text-transform: uppercase;
    padding: 10px 70px 10px 50px; 
    transition: 0.3s; 
    border-bottom: 1px solid transparent; 

    .logo {
        border: 1px solid rgba($color: $body, $alpha: 0.5); 
        padding: 14px 10px; 

        a {
            border-bottom: none;  
            font-size: 1.3rem; 

            &:hover,
            &:focus {
                border-bottom: none; 
                color: $accent; 
            }
        }
    }

    ul {
        display: flex; 
        flex-direction: row; 
        
        li {
            margin-left: 35px; 
            display: flex;
            align-items: center; 
        }
    }
}

.scrolled {
    border-bottom: 1px solid rgba($color: $accent, $alpha: 0.3); 
    box-shadow: rgba($color: $accent, $alpha: 0.25) 0px 2px 5px -1px, rgba($color: $accent, $alpha: 0.3) 0px 1px 3px -1px;
}