.projects {
    h2{
        margin-bottom: 15px; 
    }

    p {
        margin-top: 10px;
        margin-bottom: 60px; 
        font-size: 1.2rem; 
        line-height: 1.3;
    }

    .coming-soon {
        text-align: center; 
        margin-top: 55px; 
        display: none; 

        p {
            margin-bottom: 15px; 
        }
    }
}

.tools {
    .filter-input {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;

        label {
            display: flex; 
            flex-direction: column; 
            text-align: center; 
            width: 15%; 
            margin-bottom: 15px; 
            cursor: pointer; 
            transition: 0.15s; 

            i {
                font-size: 2.5rem; 
                margin-bottom: 10px; 
            }

            &[for="featured"] {
                text-shadow: 0 -1px 20px $accent;
            }
        }

        input[type=checkbox]:checked + label {
            color: $accent; 
        }
    }
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 35px; 

    h3 {
        font-size: 1.5rem; 
    }

    p {
        margin-bottom: 30px; 
        font-size: 1rem; 
    }

    .project-img {
        width: 40%; 
        margin-right: 50px; 

        img {
            width: 100%;
            object-fit: cover; 
            box-shadow: 0 0 0.75em 0 rgba($color: $body, $alpha: 0.5);
        }
    }

    .project-text {
        width: calc(60% - 50px);

        a {
            border-bottom: 2px solid $accent; 
        }
    }

    &:nth-of-type(2n) {
        flex-direction: row-reverse; 

        .project-img {
            margin-right: 0;
            margin-left: 50px; 
        }
    }
}