// Importing fonts
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand/Quicksand-VariableFont_wght.ttf'); 
}
@font-face {
    font-family: 'Josefin Sans'; 
    src: url('../assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

// Fonts
$headingFont: 'Quicksand', sans-serif; 
$bodyFont: 'Josefin Sans', sans-serif;

// Colours
$background: #202020; 
$accent: #82C0CC; 
$body: #f4f4f9;