@font-face {
  font-family: "Quicksand";
  src: url("../assets/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "EB Garamond";
  src: url("../assets/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}